[submodule "yarpgen_forkserver"]
	path = yarpgen_forkserver
	url = https://github.com/BoBpiler/BoBpiler_yarpgen.git
[submodule "csmith_forkserver"]
	path = csmith_forkserver
	url = https://github.com/BoBpiler/BoBpiler_csmith.git
